{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {},
                "styled-jsx": {
                    "plugins": [
                        "styled-jsx-plugin-postcss"
                    ]
                }
            }
        ]
    ]
}