--- 
layout: default 
hello_world: "Hello World com Liquid!" 
urls: 
 - carlohcs.com.br 
 - github.com/carlohcs 
 - twitter.com/carlohcs 
show_footer: true
---

<!--
  O Liquid templates só entende 3 escopos de variáveis

  page // página corrente
  post // em algum post
  site // site global

  Variáveis como array
  propriedade:
    - valor1
    - valor2
    - valor3
-->

<div class="home">

    <h1 class="page-heading">{{ page.hello_world }}</h1>
    <h1 class="page-heading">Sites</h1>

    <ul class="post-list">
        {% for url in page.urls %}
        <li>Endereço: {{ url }}</li>
        {% endfor %}
    </ul>

    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    {% if page.show_footer %}
        <h3>
            <strong>By @carlohcs</strong>
        </h3>
    {% endif %}

    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>

</div>