.footer {
  display: block;
  padding: 20px 0;
  margin-top: 50px;
  background: $secundary-color;
}

.footer .navbar--logo--container {
  width: 100%;
}

.footer .navbar--logo {
  width: 100%;
  display: block;
}

.footer--item:nth-child(1) {
  width: 40%;
}

.footer--item:nth-child(2) {
  border-right: 0;
  width: 60%;
  margin-right: 0;
  border-right: 0;
}

.footer--author--prase {
  font-size: 14px;
  font-style: italic;
}
.footer--author--name {
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.footer--item .social--icons {
  margin-top: 20px;
}

.footer--item {
  float: left;
  color: #e6e6e6;
  border-right: 1px dashed $footer-item-color;
  padding: 0 0.9em;

  @media (max-width: $break-small) {
    text-align: center;
    float: none;
    width: 100% !important;
  }
}

.footer--infos {
  list-style: none;
}
.footer--infos li {
  border-bottom: 1px dashed $footer-item-color;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #b3b3b3;
}

.footer--item .navbar--logo {
  margin-bottom: 10px;
}

