.project {
  clear: both;
  padding: 30px 0;
}
.project--features--screenshot {
  list-style-type: none !important;
  margin: 20px 0 !important;
  padding: 0 !important;
  display: block;
  min-height: 270px;
}
.project--features--screenshot ~ p {
//  margin: 10px 0 !important;
}
.project--features--screenshot--item {
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px 20px 5px 0 !important;
  border: 1px solid #ccc;
  padding: 5px;
  transition: border-color .3s ease-in;
  a {
    border: 0 !important;
  }

  &:hover {
    border-color: #9a9a9a;

    a {
      border: 0 !important;
    }
  }
}
.project--features--container__hide {
  display: none;
}

// TO DEPLOY
.project--show-more {
  display: none;
}

.content hr:last-child {
  display: none;
}
