<script>
  (function() {
    'use strict';

      /**
        Constructor

        @return {void}
      */
      function App() {}

      /**
        Setup Projects page

        @return {void}
      */
      App.prototype.setupProjectsPage = function() {
        var
          buttons = document.querySelectorAll('.project--show-more'),
          buttonsLength = buttons.length,
          index;

        if(buttonsLength) {
          for(index=0;index<buttonsLength;index++) {
            var
              button = buttons[index];

            button.onclick = (function(e){
              var
                hideClass = 'project--features--container__hide',
                featuresClass,
                element,
                features;

              e.preventDefault();

              element = e.target;

              features = element.closest('.project')
                .querySelector('.project--features--container');

              featuresClass = features.classList;

              if(featuresClass.contains(hideClass)) {
                return featuresClass.remove(hideClass);
              }

              return featuresClass.add(hideClass);

              debugger;

            });
          }
        }
      };

      /**
        Override intro container height

        @return {void}
      */
      App.prototype.introResize = function() {
        var
          screenHeight = window.screen.height,
          screenWidth = window.screen.width,
          intro = document.querySelector('.intro'),
          padding = screenWidth <= 320 ? 40 : 80;

        intro.style.height = parseInt(screenHeight - padding) + 'px';
      };

      /**
        Init app

        @return {void}
      */
      App.prototype.init = function() {
        this.introResize();
        this.setupProjectsPage();
      };

      // Init
      new App().init();
  })();
</script>

