<ul class="social--icons">
  <li>
    <a href="https://github.com/carlohcs" target="_blank">
      <i class="icon fa fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://br.linkedin.com/in/carlohcs" target="_blank">
      <i class="icon fa fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="http://www.twitter.com/carlohcs" target="_blank">
      <i class="icon fa fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="http://www.facebook.com/carlohcs" target="_blank">
      <i class="icon fa fa-facebook"></i>
    </a>
  </li>
</ul>

