@media (max-width: $break-small) {
  .navbar {
    padding: 0.6em;
    text-align: center;
  }

  .navbar--logo--container,
  .navbar--menu {
    width: 100%;
  }

  .navbar--logo {
    font-size: 20px;
  }

  .navbar--menu {
    font-size: 14px;
  }
}
