@charset "utf-8";
@import "reset";
@import "vars";
@import "typography";
@import "rrssb";

html {
	height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-stack-one;
    height: 100%;
    overflow: auto;
}
.site-name {
    color: $accent-color;
}
.faded {
    color: $light-color;
    font-weight: lighter;
}
.page-suggestion {
    @media (max-width: $break-medium) {
        text-align: center;
        a {
            display: block;
            float: none;
            margin: $base-spacing 1.3px;
        }
    }
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.display-block {
  display: block;
}

/* Intro
* * * * * * * * * * * */
.intro {
    color: #e6e6e6;
    background: url('/images/cover.jpg') 40% 40% fixed;
    background-size: cover;
    font-weight: ligher;
    text-align: center;
    font-size: 20px;
    // margin-bottom: 20px;
    margin-top: -20px;
    font-family: 'Roboto Mono', 'sans-serif';
    @media (max-width: $break-small) {
        height: 100%;
        font-size: 17px;
    }
    span {
        padding: 0.05em 0.5em;
        border-radius: 15px;
        background: $accent-color;
        color: #fff;
    }
    ::selection {
        color: #fff;
        background: #000;
    }
    h1 {
        // margin: $base-spacing 0;
        margin: 40px 0;
        margin-bottom: $base-spacing/1.1 - 1;
        font-size: 40px;
        font-family: 'ubuntu';
        @media (max-width: $break-small) {
            font-size: 32px;
        }
    }
}
#intro-img {
    // width: 250px;
    // height: 250px;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid transparent;

}
.intro--avatar--container .social--icons{
  vertical-align: top;
    margin-top: 60px;
}

/* Links
* * * * * * * * * * * */


.disabled:hover {
    color: inherit;
    background: inherit;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
    padding: 0;
}
a:hover {
    text-decoration: none;
    color: $accent-color;
}
.underline {
    border-bottom: 2px solid $underline-color;
}
.underline:hover {
    color: inherit;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    border-bottom: 2px solid $accent-color;
}
.button {
    font-weight: lighter;
    font-size: 13px;
    border-radius: 20px;
    background: #fff;
    padding: $base-spacing/4 $base-spacing;
    color: $medium-gray-color;
}
.button:hover {
    background: $accent-color;
    color: #fff;
    -webkit-transition: 0.3s ease;
}
.rrssb-buttons {
    margin: $base-spacing 0;
}
.different-highlight {
    color: inherit;
}
.different-highlight:hover {
    color: $accent-color;
}

/* Structure
 * * * * * * * * * * * */

.wrapper {
    min-height: 100%;
    // margin-bottom: -$footer-size;
}
.wrapper:after {
    content: "";
    display: block;
}
.main {
    padding-top: 74px;
}
.wrapper:after {
   // height: 100px;
    // height: $footer-size;
}
footer {
  background: $secundary-color;
/*
    div {
        padding: $base-spacing/2.5;
        margin: 0px;
    }
    h2 {
        font-size: 20px;
        font-weight: lighter;
    }*/
}

.site-name {
    font-size: 35px;
}
/*.intro {
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-family: 'Montserrat';
}*/
.container {
    max-width: $max-width;
    margin: auto;
    padding: $base-spacing;
}
.post-preview {
    display: block;
    width: 100%;
    margin: $base-spacing 0;
    padding: 2em 0;
    .post-title {
        font-size: 25px;
    }
    .post-time {
        color: $light-color;
    }
    @media (max-width: $break-medium) {
        .post-time {
            margin-top: $base-spacing/2;
            display: block;
            float: none;
        }
        .post-title {
            display: block;
            float: none;
        }
        margin: $base-spacing*1.1 0;
    }
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Navbar
 * * * * * * * * * * * */

.navbar {
    margin: auto;
    // padding: $base-spacing $base-spacing;
    padding: 0.9em;
    width: 100%;
    // min-height: 70px;
    //background-color: $accent-color;
}
.back-outer {
    text-align: center;
    width: $big-circle-size;
    height: $big-circle-size;
    //border: 2px solid #000;
    border-radius: $big-circle-size;
    background-color: #000;
    padding: 0;
}
.back-inner {
    height: 24px;
    width: 24px;
    margin: 3px 3px;
    border: 2px solid #fff;
    border-radius: 24px;
    background: #fff;
}
.back-inner:hover {
    background: #000;
}

/* Paginate
* * * * * * * * * * * */
.pagination {
    div {
        width: 31%;
        display: inline-block;
    }
    padding: inherit 2px;
    @media (max-width: $break-small) {
        padding: 0 2px;
        .button {
            margin: 2px 0;
        }
        margin-bottom: 10px;
    }
}

/* Post
* * * * * * * * * * * */

.post-date {
    font-family: 'Montserrat';
    font-weight: lighter;
}

/* Styling
 * * * * * * * * * * */
hr {
    border-top: 0.5px solid $underline-color;
}
.theme-footer {
    font-weight: lighter;
    font-size: 15px;
    color: $light-color;
    padding: $base-spacing;
}
.copyright {
    color: $accent-color;
}

#img-about {
    margin: inherit $base-spacing;
    float: left;
}
.about-img {
    height: $about-image-size;
    width: $about-image-size;
    border-radius: $about-image-size;
    margin: $base-spacing/3 $base-spacing/5;
    margin-right: $base-spacing;
}
.no-image {
    @extend .about-img;
    height: $about-image-size/1.2;
    width: $about-image-size/1.2;
    border-radius: $about-image-size/1.2;
    background: $accent-color;
}
.about-stub {
    margin: 0 $base-spacing/2;
    padding: $base-spacing;
    font-weight: lighter;
    @media (max-width: $break-small) {
    }
}



/* Personal modifications */
.navbar {
  background: $secundary-color;
  color: #fff;
  position: fixed;
}
.navbar--logo--container {
  color: #fff;
  float: left;
  font-size: 28px;
}
.navbar--logo--name {
  text-transform: uppercase;
}
.navbar--logo--bracket {
  color: $accent-color;
}
.navbar--menu {
  float: right;
  text-transform: lowercase;
}
.navbar--logo--container,
.navbar--logo-name,
.navbar--logo-phrase,
.navbar--menu {
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
}

.footer--container--item {
  float: left;
  color: #e6e6e6;
  border-right: 1px dashed $footer-item-color;
  padding: 0 0.9em;
}

.footer--infos {
  list-style: none;
}
.footer--infos li {
  border-bottom: 1px dashed $footer-item-color;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #b3b3b3;
}

.footer--container--item .navbar--logo {
  margin-bottom: 10px;
}

.social--icons {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.social--icons li {
  display: inline-block;
  margin-right: 10px;
}
.social--icons .icon {
  font-size: 32px;
}

.intro--avatar--container {
  margin-bottom: 20px;
}


.page-link {
  color: $light-color;
  text-transform: uppercase;
  &:hover {
    color: #fff;
  }
}
.page-link:not(:last-child)::after {
  content: " / ";
}

footer {
  display: block;
  padding: 20px 0;
}

.footer--container--item:nth-child(1) {
  width: 40%;
}
footer .navbar--logo--container {
  width: 100%;
}
footer .navbar--logo {
  width: 100%;
  display: block;
}

.footer--container--item:nth-child(2) {
  border-right: 0;
  width: 60%;
  margin-right: 0;
  border-right: 0;
}

.footer--author--prase {
  font-size: 14px;
  font-style: italic;
}
.footer--author--name {
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.footer--container--item .social--icons {
  margin-top: 20px;
}


/* About
* * * * * * * * * * * */

.about {
  text-align: center;

  > ul,
  > ol {
    text-align: left;
  }
}
.about.intro {
  background: url('/images/amor.jpg') no-repeat 40% 40% fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.about .post-title {
  text-align: center;
}

.about .avatar {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
.blog {
}
.blog .post-title {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Montserrat';
  color: $accent-color;
}

.intro h1 {
  font-size: 80px;
  font-family: 'ubuntu';
  font-weight: 700;
}
