{% if site.intro %}
    <div class="intro">
        <div class="container">
             <h1>
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            {% if site.profile_picture %}
              <div class="intro--avatar--container">
                <img id="intro-img" src="{{ site.profile_picture }}">
                {% include social.html %}
              </div>
            {% endif %}

            <!--<p style="margin-top: 30px;">
                {{ site.short_bio }}
                </p>-->
        </div>
    </div>
{% else %}
    <section class="intro">
        <div class="container">
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
        </div>
    </section>
{% endif %}
