.navbar {
    z-index: 2;
    margin: auto;
    padding: 0.9em;
    width: 100%;
    background: $secundary-color;
    color: #fff;
    position: fixed;

  @media (max-width: $break-small) {
    padding: 0.6em;
    text-align: center;
  }
}

.navbar--logo {
  @media (max-width: $break-small) {
    font-size: 20px;
  }
}

.navbar--menu {
  @media (max-width: $break-small) {
    font-size: 14px;
  }
}

.navbar--logo--container {
  color: #fff;
  float: left;
  font-size: 28px;

  @media (max-width: $break-large) {
    font-size: 24px;
  }

  @media (max-height: $break-small) and (orientation: landscape) {
    font-size: 20px;
  }
}

.navbar--logo--name {
  text-transform: uppercase;
}

.navbar--logo--bracket {
  color: $accent-color;
}

.navbar--menu {
  float: right;
  text-transform: lowercase;
}

.navbar--logo--container,
.navbar--logo-name,
.navbar--logo-phrase,
.navbar--menu {
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
}

@media (max-width: $break-small) {

  .navbar--logo--container,
  .navbar--menu {
    width: 100%;
  }

}
