// Social
.social--icons {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.social--icons li {
  display: inline-block;
  margin-right: 10px;
}

.social--icons .icon {
  font-size: 32px;
}

@media (max-width: $break-small) {
  .social--icons .icon {
    font-size: 24px;
  }
}
